<div class="welcome-container">
	<div class="mdl-card mdl-shadow--8dp welcome">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text font-title">BEM-VINDO!</h2>
		</div>

		<div class="mdl-card__supporting-text">
			<p>
				No <b>GAVETA</b> Você poderá encontrar um sistema préviamente pronto para a organização da sua grade curricular. Gastando apenas 10 minutos, você ficara pronto para começar a estudar sem se preocupar em escolher o que deve estudar! Na modalidade EAD, organização é fundamental!
			</p>
		</div>
	</div>

	<div class="mdl-card mdl-shadow--8dp mdl-textfield__label-dark " >
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text font-title">COMECE JÁ!</h2>
		</div>

		<div class="mdl-card__supporting-text"> 
			<%= simple_form_for @student, url: registration_path(@student) do |student| %>
				<%= student.input :name, label: "Nome" %>
				<%= student.input :email, label: "E-mail" %>
				<%= student.input :password, label: "Senha" %>
				<%= student.button :submit, "Cadastrar", class: "full-width mdl-button--raised" %>
			<% end %>
		</div>
		
	</div>
</div>