
<div class="form-new-activity mdl-shadow--8dp" style="width: 300px; margin: 0 auto;">
	<h2>Login</h2>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <%= f.input :password, required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	  </div>
	  <div class="form-actions">
	    <%= f.button :submit, "Log in", class: "full-width mdl-button--raised mdl-button--accent" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>

