<section ng-controller='CourseIndex as vm' ng-init='vm.loadCourses(<%= current_student.id %>)'>
	<h1>CURSOS</h1>

	<form class="form-new-activity">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input type="text" class="mdl-textfield__input" id="name" ng-model="vm.course.name">
			<label class="mdl-textfield__label" for="name">Nome do curso</label>
		</div>

		<button class="mdl-button mdl-button--raised mdl-button--primary" ng-click="vm.submit()">
			Registrar
		</button>
	</form>

	<table class="mdl-data-table">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Cursos</th>
				<th>Apagar</th>
				<th>Editar / Salvar</th>
			</tr>
		</thead>

		<tbody ng-repeat="course in vm.courses">
			<tr>
				<div class="deleteDialog" title="Apagar">
					<p>Realmente deseja apagar <b>{{vm.courseDelete.name}}</b>?</p>
					<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
						<div class="ui-dialog-buttonset">
							<button type="button" class="ui-button" onclick="closeDeleteDialog()">Cancelar</button>
							<button type="button" class="ui-button" onclick="closeDeleteDialog()" ng-click="vm.destroy(vm.getCourse)">Sim</button>
						</div>
					</div>
				</div>

				<td class="mdl-data-table__cell--non-numeric">
					<span ng-show="!course.editable">
						<%= link_to "{{course.name}}", URI::unescape(course_path("{{course.id}}")) %>
					</span>
					<input type="text" ng-model="vm.course.name" ng-show="course.editable">
				</td>

				<td>
					<a href="" ng-model="course.editable" ng-show="!course.editable" ng-click="vm.editCourse(course)" class="mdl-color--positive">
						<i class="material-icons">edit</i>
					</a>
					<a href="" ng-show="course.editable" ng-click="vm.submit()" class="mdl-color--success">
						<i class="material-icons">save</i>
					</a>
				</td>

				<td>
					<a href="" ng-click="vm.getCourse(course)" class="mdl-color--danger not-link" onclick="openDeleteDialog()">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>