<h1 ng-click="show_message"><%= @course.name %></h1>

<%= simple_form_for @semester do |semester| %>
	<div class="invisible">
		<%= semester.input :course_id, input_html: {value: @course.id}%>
		<%= semester.input :name, input_html: {value: (@course.semesters.count + 1).to_s	 + "° Semestre"} %>
	</div>
	<%= semester.button :submit, "Adicionar Semestre", class: "mdl-button--raised mdl-button--accent" %>
<% end %>

<div class="mdl-tabs mdl-js-tabs">
	<div class="mdl-tabs__tab-bar">
		<% @course.semesters.each do |semester| %>
			<a href="#semester<%= semester.id %>" class="mdl-tabs__tab" ng-model="semesterID" ng-click="semesterID = <%= semester.id %>"><%= semester.name %></a>
		<% end %>
	</div>

	<% @course.semesters.each do |semester| %>
		<div class="mdl-tabs__panel" id="semester<%= semester.id %>" ng-controller='ActivityIndex as vm' ng-init="vm.loadActivitys(<%= semester.id %>)">

			<div class="deleteDialog <%= semester.id %>" title="Apagar">
				<p>Realmente deseja apagar a matéria <b>{{vm.activityToDestroy.matter}}</b>?</p>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<div class="ui-dialog-buttonset">
						<button type="button" class="ui-button" onclick="closeDeleteDialog()">Cancelar</button>
						<button type="button" class="ui-button" onclick="closeDeleteDialog()" ng-click="vm.destroy()">Sim</button>
					</div>
				</div>
			</div>
			
			<table class="mdl-data-table">
				<thead>
					<tr class="order-activitys">
						<th class="mdl-data-table__cell--non-numeric" ng-click="vm.order_by('matter')">Matéria</th>
						<th ng-click="vm.order_by('task')">Tipo</th>
						<th ng-click="vm.order_by('dt_start')">Data de ínicio</th>
						<th ng-click="vm.order_by('dt_end')">Data de entrega</th>
						<th ng-click="vm.order_by('concept')">Conceito</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="activity in vm.activitys | orderBy: vm.order">
						<td class="mdl-data-table__cell--non-numeric">{{activity.matter}}</td>
						<td>{{activity.task}}</td>
						<td>{{activity.dt_start}}</td>
						<td>{{activity.dt_end}}</td>
						<td><input type="text" ng-model="activity.concept" class="input-concept"></td>
						<td>
							<a href="" ng-click="vm.activity.concept = activity.concept; vm.submit(activity.id)" class="mdl-color--success">
							<i class="material-icons">save</i>
							</a>
						</td>
						<td>
							<a href="" ng-click="vm.selectToDestroy(activity)" onclick="openDeleteDialog(<%= semester.id %>)" class="mdl-color--danger">
								<i class="material-icons">delete</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

			<form class="form-new-activity" >
				<h3>Adicionar nova atividade</h3>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="matter" ng-model="vm.activity.matter">
			    <label class="mdl-textfield__label" for="matter">Matéria</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="type" ng-model="vm.activity.task">
			    <label class="mdl-textfield__label" for="task">Tipo de atividade</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="date" id="start" ng-model="vm.activity.dt_start" placeholder="">
			    <label class="mdl-textfield__label" for="start">Data de ínicio</label>
			  </div>

			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="date" id="end" ng-model="vm.activity.dt_end" placeholder="">
			    <label class="mdl-textfield__label" for="end">Data de entrega</label>
			  </div>

			  <button class="mdl-button mdl-button--raised mdl-button--accent" ng-click="vm.activity.semester_id = <%= semester.id %>; vm.submit()">
			  	Adicionar atividade
			  </button>
			</form>

		</div>
	<% end %>
</div>