/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* TITLES */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.font-title{
	font-family: 'Source Code Pro', monospace;
	font-size: 1.5em;
}

tbody{
font-family: 'Roboto', sans-serif;
	color: #333;
}

body{
	color: #eee;
}

.color-information{
	color: #FFEB3B !important;
}

.mdl-color--success{
	color: #0b0;
}

.mdl-color--danger{
	color: #d00;
}

.mdl-color--positive{
	color: #00d
}

.not-link{
	text-decoration: none;
}

.mdl-title{
	color: #fff;
}

.text-center{
	text-align: center !important;
}

.form-inputs{
	display: flex;
	flex-direction: column;
}

table{
	width: 100%;
}

.invisible{
	display: none;
}

.mdl-button--light{
	color: #eee;
}

.form-new-activity{
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	padding: 10px 20px;
}

.input-concept{
	border: 1px solid #eee;
	text-align: right;
}

.order-activitys th{
	cursor: pointer;
}

.full-width{
	width: 100%;
}

.mdl-layout-icon{
	height: 35px;
	margin-right: 15px;
}

.toast{
	z-index: 10;
	position: fixed;
	top: 45px;
	left: 40%;
	opacity: 0;
	width: 20%;
	background-color: #444;;
	animation-name: toast;
	animation-duration: 5s;
	animation-iteration-count: 1;
}

@keyframes toast{
	0% { opacity: 0; top: 45px; }
	20% { opacity: 1; top: 65px; }
	80% { opacity: 1; top: 65px; }
	100% { opacity: 0; top: 45px; }
}

.mdl-layout__content{
	background-color: gray;
	background-image: linear-gradient(45deg, #00BCD4, #009688);
}

.mdl-textfield__label{
	color: #eee;
}

.mdl-textfield__label-dark .mdl-textfield__label{
	color: #333;
}

.mdl-tabs__tab-bar{
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.form-actions{
	margin-top: 20px;
	margin-bottom: 20px;
}

footer{
	position: relative;
	bottom: 0;
	background-color: #34495e;
}