<div class="mdl-layout--large-screen-only">
	<a href="" class="mdl-navigation__link color-information">Logado como <%= current_student.name %></a>
</div>
<div class="text-center mdl-layout--small-screen-only">
	<a href="" class="mdl-navigation__link">Logado como <%= current_student.name %></a>
</div>
<%= link_to "Cursos", courses_path, class: "mdl-button mdl-button--raised  mdl-button--accent mdl-layout--large-screen-only" %> 
<%= link_to "Sair", destroy_student_session_path, method: :delete, class: "mdl-button mdl-button--accent mdl-layout--large-screen-only" %> 
<%= link_to "Cursos", courses_path, class: "mdl-button mdl-layout--small-screen-only" %>
<%= link_to "Sair", destroy_student_session_path, method: :delete, class: "mdl-button mdl-layout--small-screen-only" %>